@CHARSET "UTF-8";
#header{
	text-align: right;
}

#header a{
	color:#333;
	font-family: 'arial';
	font-size: 13px;
	font-weight: bolder;
	margin: 10px 7px;
}

#header a.no-weight{
	font-weight: lighter;
}

#header a.more-product{
	background-color: #3385ff;
	display: inline-block;
	width: 65px;
	height: 20px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 20px;
	border: 1px solid #3385f4;
}


#content{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 180px;
}

#content img{
	width: 270px;
}

#content input{
	width: 500px;
	height: 35px;
	/* padding: 5px; */
	padding-left: 5px;
	border: 1px solid #ddd;
	margin: 0px 5px;
}

#content input:focus{
	border-color: #3385f4;
}

#content a{
	background-color: #3385ff;
	display: inline-block;
	width: 100px;
	height: 32px;
	color: white;
	text-decoration: none;
	text-align: center;
	line-height: 32px;
	border: 1px solid #3385f4;
	margin-left: -10px;
}



#footer{
	text-align: center;
	font-size: 12px;
}

#footer .footer-header{
	margin-bottom: 7px;
}
#footer .footer-header a{
	margin: 0px 5px;
	color: #999;
}

#footer .footer-bottom{
	color: #999;
}
#footer .footer-bottom a{
	color: #999;
}
